:root{
    --main-color : rgba(68, 64, 64, 1);
    --light-text-color : rgba(255, 255, 255, 1);
    --component-color :rgba(156, 8, 141, 1);
    --main-font : Roboto Mono;
    --main-text-size: 36px;
    --secondary-color: rgba(243, 210, 159, 1);
    --main-text-color : rgba(68, 64, 64, 1);
    --subtext-size : 24px;

}

.header-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 99vw;
    background-color: var(--main-color);
}

.header-txt{
    position: relative;
    display: flex;
    max-width: 80%;
    margin-left: 32%;
    margin-right:30% ;
    text-align: center;
    color: var(--light-text-color);
    align-items: center;
    font-size: var(--main-text-size);
    line-height: 3em;
}

#header-button{
    color: aliceblue;
    background-color: var(--component-color);
    width: 180px;
    height: 48px;
    margin-left:43% ;
    margin-right: 43%;
    font-size: 14px;
    border-color: black;
    border: 0.5em;
}

.icon-container{
    margin-top: 1%;
    margin-left: 40%;
}

.icon-container a{
    margin-right: 15%;
}

nav{
    color: white;
    margin-left: 30% ;
    font-size: var(--main-text-size);
    margin-top: 4%;
    
}

nav ul{
    list-style: none;
    
    
}
li{
    text-decoration: none;
}
nav li {
    
    
    display: inline;
    margin-right: 27%;
}
#Projects a{
    text-decoration: none;
    color: white;
}
#About a{text-decoration: none ;
        color: white;}
a{
    text-decoration: none;
}



.project-headline{
    font-size: var(--main-text-size);
    text-align: center;
}

.project-subtext{
    font-size: 18px;
    letter-spacing: 2px;
    text-align: start;

}
.project-icons img{
    
    margin-right: 35%;
}


#Projects{
    align-content: center;
    z-index: 1;
    color: black;
    padding: 0.5em;
    border-radius: 1em 1em 0 0 ;
}

#About{

    
    padding: 0.5em;
    border-radius: 1em 1em 0 0 ;
}

.content-container{
    position: static;
    padding: 1em;
    background-color:var(--secondary-color) ;
    margin-top: -2em;
    height: 350%;

}

.project-image{
    margin-left: 4em;
    border-radius: 2rem;
    align-self: center;
    width: 35rem;
}

#heading{
    font-size: var(--main-text-size);
    text-align: center;
    margin-bottom: 10%;
    
   
}

.project-image {
    filter: drop-shadow(70%);
    filter: brightness(50%);
    z-index: -1;
}

.Project-icons{
    position: absolute;
    margin-top: -10%;
    margin-left: 9%;
    filter: brightness(150%);
    
}

#git{
    margin-left: 10em;
}

.display-container{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20%;
}

.about-container{
    position: static;
    padding: 1em;
    background-color:var(--secondary-color) ;
    margin-top: -2em;
    height: 350%;
}

.about-container{
    text-align: center;
    
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2em;
}


.content-container p{
    text-align: center;
    
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2em;
}









@media all and (max-width: 1700px){
    html{
        overflow-x: hidden;
        max-width: 100vw;
    }

    .header-container{
        
        position: absolute;
        top: 0;
        left: 0;
        height:fit-content;
        width:100vw;
        background-color: var(--main-color);
    }
    h2{
        font-size: 34px;
    }

    .header-txt{
        margin-left: 30%;
        line-height: 1.5em;
    }

    #header-button{
      justify-self: center;
      margin-left: 40%;
    }

    .icon-container{
        margin-left: 38%;
        margin-top: 5%;
    }

    nav{
        margin-left: 22%;
       font-size: 30px;
    }

    .content-container{
        max-width: 99%;
        padding: 1em;
    }

    .project-image{
        max-width: 90%;
        margin-left: 22%;
    }

    #git{
        margin-left: 10em;
    }


    .display-container{
        
        display: inline-block;
        
    }
    .project-headline{
        font-size: 4em;
        text-align: center;
    }

   p{
       font-size: 2em;
   }
    .Project-icons img{
        width: 5em;
        
        
    }
    .project-subtext{
        max-width: 90%;
    }
    .Project-icons{
        
        margin-top: -18%;
        margin-left: 25%;
        
        
    }

    .about-container{
        padding: 1.5em;
    }
    .about-container p{
        font-size: 24px;
    }
}


@media all and (max-width: 1000px){
    html{
        overflow-x: hidden;
        max-width: 100vw;
    }

    .header-container{
        
        position: absolute;
        top: 0;
        left: 0;
        height:fit-content;
        width:100vw;
        background-color: var(--main-color);
    }
    h2{
        font-size: 100%;
    }

    .header-txt{
        margin-left: 35%;
        line-height: 1em;
    }

    #header-button{
      justify-self: center;
      margin-left: 40%;
    }

    .icon-container{
        margin-left: 38%;
        margin-top: 5%;
    }

    nav{
        margin-left: 22%;
       font-size: 30px;
    }

    .content-container{
        max-width: 99%;
        padding: 1em;
    }

    .project-image{
        max-width: 90%;
        margin-left: 5em;
    }

    #git{
        margin-left: 10em;
    }


    .display-container{
        
        display: inline-block;
        
    }
    .project-headline{
        font-size: 4em;
        text-align: center;
    }

   p{
       font-size: 2em;
   }
    .Project-icons img{
        width: 5em;
        
        
    }
    .project-subtext{
        max-width: 90%;
    }
    .Project-icons{
        
        margin-top: -20%;
        margin-left: 20%;
        
        
    }

    .about-container{
        padding: 1em;
    }
    .about-container p{
        font-size: 18px;
    }
}

@media all and (max-width:800px){
   
    html{
      
        max-width: 100vw;
    }

   
    h2{
        font-size: 18px;
    }

    .header-txt{
        
        line-height: 1em;
    }

    #header-button{
      justify-self: center;
      margin-left: 25%;
    }

   

    nav{
        margin-left: 10%;
       font-size: 15px;
    }

    .content-container{
        max-width: 99%;
        padding: 1em;
        margin-top: -4%;
        
    }

    .content-container h2{
       font-size: 28px;
    }
    .project-image{
        max-width: 90%;
        margin-left: 1em;
    }

    .project-subtext{
        max-width: 89%;
        margin-left: 1em;
    }

    #git{
        margin-left: 5em;
    }

    .display-container{
        
        display: inline-block;
        
    }
    .project-headline{
        font-size: 4em;
        text-align: center;
    }

   p{
       font-size: 1em;
   }
  

    .Project-icons{
        
        margin-top: -30%;
        margin-left: 15%;
        
        
    }

    .about-container{
        padding: 1em;
    }
    
}

@media all and (max-width:500px){
    html{
      
        max-width: 100vw;
    }

   
    h2{
        font-size: 18px;
    }

    .header-txt{
        
        line-height: 1em;
    }

    #header-button{
      justify-self: center;
      margin-left: 25%;
    }

   

    nav{
        margin-left: 10%;
       font-size: 15px;
    }

    .content-container{
        max-width: 99%;
        padding: 1em;
        margin-top: -4%;
        
    }

    .content-container h2{
       font-size: 28px;
    }
    .project-image{
        max-width: 90%;
        margin-left: 1em;
    }

    .project-subtext{
        max-width: 89%;
        margin-left: 1em;
    }

    #git{
        margin-left: 5em;
    }

    .display-container{
        
        display: inline-block;
        
    }
    .project-headline{
        font-size: 4em;
        text-align: center;
    }

   p{
       font-size: 1em;
   }
  

    .Project-icons{
        
        margin-top: -30%;
        margin-left: 15%;
        
        
    }

    .about-container{
        padding: 1em;
    }
}

@media all and (max-width:400px){
    html{
      
        max-width: 100vw;
    }

    .header-container{
        
        position: absolute;
        top: 0;
        left: 0;
        height:fit-content;
        width:100vw;
        background-color: var(--main-color);
    }
    h2{
        font-size: 50%;
    }

    .header-txt{
        
        line-height: 1em;
    }

    #header-button{
      justify-self: center;
      margin-left: 25%;
    }

    .icon-container{
        margin-left: 25%;
        margin-top: 5%;
    }

    nav{
        margin-left: 10%;
       font-size: 14px;
    }

    .content-container{
        max-width: 99%;
        padding: 1em;
    }
    .project-image{
        max-width: 90%;
        margin-left: 2em;
    }

    .display-container{
        
        display: inline-block;
        
    }
    .project-headline{
        font-size: 4em;
        text-align: center;
    }

   p{
       font-size: 1em;
   }
    .Project-icons img{
       
        width: 2em;
    }

    .Project-icons{
        
        margin-top: -30%;
        margin-left: 20%;
        
        
    }

    .about-container{
        padding: 1em;
    }
}


@media all and (max-width:300px){
    html{
      
        max-width: 100vw;
    }

    .header-container{
        
        position: absolute;
        top: 0;
        left: 0;
        height:fit-content;
        width:100vw;
        background-color: var(--main-color);
    }
    h2{
        font-size: 50%;
    }

    .header-txt{
        
        line-height: 1em;
    }

    #header-button{
      justify-self: center;
      margin-left: 25%;
    }

    .icon-container{
        margin-left: 25%;
        margin-top: 5%;
    }

    nav{
        margin-left: 10%;
       font-size: 14px;
    }

    .content-container{
        max-width: 99%;
        padding: 1em;
    }
    .project-image{
        max-width: 90%;
        margin-left: 2em;
    }

    .display-container{
        
        display: inline-block;
        
    }
    .project-headline{
        font-size: 4em;
        text-align: center;
    }

   p{
       font-size: 1em;
   }
    .Project-icons img{
       
        width: 2em;
    }

    .Project-icons{
        
        margin-top: -30%;
        margin-left: 20%;
        
        
    }

    .about-container{
        padding: 1em;
    }
}

